<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="static/slide.css">
    <title>Talking Free</title>
</head>
<body>
    <h1>Bienvenido</h1>
    <form method="GET" action="/logout">
        <button type="submit">Cerrar Sesión</button>
    </form>
    
    <script src="static/slide.js"></script>
     
</body>
</html>