body{
  background: 	#333333;
  font-size: large;
  background-image: url(fondo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

* {
 font-family: "Roboto", sans-serif;
 margin: 0;
 padding: 0;
}

header{
 background: #242424;
 height: 5.5em;
 width: 100%;
 display: flex;
 align-items: center;
}

header h1{
    color: aquamarine;
    padding-left: 8px;
    margin-right: auto;
    margin-left: 8px;
    cursor: pointer;
}

header h1:hover {
    transform: scale(1.08);
}

header button{
    padding: 8px 15px;
    text-decoration: none;
    border: none;
    border-radius: 15px;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #000000;
    cursor: pointer;
    margin-left: auto;
    margin-right: 25px;
}

header button:hover{
    transform: scale(1.3);
}

header button:hover {
    background-color: #191919; /* Cambia el color de fondo al pasar el ratón */
    color: aquamarine;
}

#contenedor {
 margin: 0 auto;
 width: 95%; /* Ancho del contenedor */
 display: flex;
 justify-content: center;
 gap: 70px;
 margin-top: 25px;
}

#contenido1, #contenido2, #contenido3 {
 background: black; /* Fondo del contenido */
 backdrop-filter:blur(55px);
 border-radius: 8px;
 min-height: 30em; /* Alto del contenido */
 position:relative;
 width: 20em;
 margin-bottom: 2em;
 transition: all 0.3s ease; /* Agrega una transición suave */
 cursor: pointer;
}

#contenido1 {
    background-image: url(notas.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}

#contenido2 {
    background-image: url(audio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}

#contenido3 {
    background-image: url(handDetec.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}

#contenido1:hover, #contenido2:hover, #contenido3:hover {
 transform: scale(1.085); /* Agranda el elemento al pasar el cursor */
}

#contenido1:active, #contenido2:active, #contenido3:active {
 transform: scale(1); /* Contrae el elemento al hacer clic */
}
